html {
    background-color:background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#A7F1FF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #A7F1FF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #A7F1FF);
    background-image: linear-gradient(to bottom, #FFFFFF, #A7F1FF);; 
}

h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 100px;
    color: #A7F1FF;
    background-color: #76E9FE;
}

span {
    color: lightgreen;
    font-size: 30px;
}

article h3 {
    font-family: 'Monoton',cursive;
    padding: 0px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Monoton',cursive;
}

figure img {
    margin: none;
    width: 100%;
    height: 300px;
    padding: 10px;
    opacity: 0.85;
    filter: alpha(opacity=50);
    min-width: 100%;
    border: 2px solid #A7F1FF;
    border-radius: 25px;
}
figcaption{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 10px;
}
.bg {
    width: 100%;
    z-index: 0;
}
h4{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    
}
p {
    font-family: 'Raleway', sans-serif;
}
li {
    font-family: 'Raleway', sans-serif;
}
footer{
    text-align: center;
}
body{
    padding: 20px;
}
#divstuff {
    font-size: 100px;
    
}
#divstuff2 {
   font-size: 100px 
}